* {
	color: #ffc000;
	margin: 0;
	font-family: Geosans;
}

html {
	overflow-x: hidden; /* Remove horizontal scrollbar */
	overflow-y: overlay; /* Enable transparent scrollbar background */
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-track-piece {
	display: none;
}

::-webkit-scrollbar-thumb {
  background: #22380C;
	box-shadow: inset 0 0 2px black;
  border-radius: 5px;
}

body {
	background-color: #1C2E0D;
	background-image: url(crossed-leaves.svg);
	background-size: 25px 25px;
	width: 100vw;
	height: 100vh;
}

page {
	position: relative;
	float: left;
	width: 100vw;
	height: 100vh;
}

title {
	display: block;
	font-family: OptimusPrinceps;
	letter-spacing: 0.1em;
}

.olive-tree-background {
	background-image: url(olive-tree.svg);
	background-size: 100vmin;
	background-repeat: no-repeat;
	background-position: bottom left;
}

