* {
	color: #FFC000;
	margin: 0;
	font-family: Geosans;
}

html {
	overflow-x: hidden; /* Remove horizontal scrollbar */
	overflow-y: overlay; /* Enable transparent scrollbar background */
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
	display: none;
}

::-webkit-scrollbar-thumb {
	background: #22380C;
	box-shadow: inset 0 0 2px black;
	border-radius: 5px;
}

body {
	width: 100vw;
	height: 100vh;
}

page * {
	position: absolute; /* All the content inside a page has absolute positioning */
}

page {
	position: relative;
	float: left;
	width: 100vw;
	height: 100vh;
}

page:first-child {
	background-color: #1C2E0D;
	background-image: url(crossed-leaves.svg);
	background-size: 25px 25px;
}

text {
	display: block;
	font-family: Geosans;
	font-size: 6vw;
}

text.title {
	width: calc(100vw - 25vh);
	font-family: OptimusPrinceps;
	font-size: 10vw;
	letter-spacing: 0.1em;
}
